:root {
  --color-primary: hsl(322, 100%, 66%);
  --color-neutral-light: #f6fbff;
  --color-neutral-dark: hsl(192, 100%, 9%); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

::selection {
  background-color: var(--color-primary);
  color: var(--color-neutral-light); }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .container > * {
    margin: 7.5rem 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-neutral-dark);
  font-size: 1.8rem; }

.heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: inherit; }

.para {
  font-size: inherit;
  font-weight: 400;
  color: inherit;
  line-height: inherit; }

.primary-heading {
  color: var(--color-neutral-dark);
  font-size: 4.5rem; }

.stat__para {
  color: darkgrey;
  font-size: 2.2rem; }

.stat__heading {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-neutral-dark);
  font-size: 9rem; }

.secondary-heading {
  font-size: 3.77rem; }

.feature__para {
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.5rem;
  line-height: inherit; }

.footer__heading {
  font-family: inherit;
  font-size: 2.2rem;
  text-transform: uppercase; }

.footer__para {
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.5rem;
  line-height: inherit; }

.footer__info__para,
.footer__newsletter__para {
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: inherit; }

.btn, .btn:link, .btn:visited {
  height: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  background-color: var(--color-primary);
  color: #fff;
  border: 1px solid var(--color-primary);
  border-radius: 4rem;
  cursor: pointer;
  transition: transform .4s;
  padding: 0 3rem; }

.btn:hover {
  transform: translateY(-3px); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px); }

.btn-nav, .btn-nav:link, .btn-nav:visited {
  font-family: 'Poppins',sans-serif;
  background-color: #fff;
  color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2); }

.btn-cta, .btn-cta:link, .btn-cta:visited {
  height: 8rem;
  font-size: 2rem;
  min-width: 40rem;
  font-weight: 700;
  border-radius: 10rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); }

.btn-subscribe, .btn-subscribe:link, .btn-subscribe:visited {
  height: 4.8rem;
  border-radius: .5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2); }

.nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__logo {
    display: block;
    height: 100%;
    width: auto; }
    @media only screen and (max-width: 37.5em) {
      .nav__logo {
        width: 40%; } }

.header {
  margin: 12rem auto 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: moveInBottom .8s ease-out; }
  .header .mockups__image-container .mockups__img {
    display: block;
    width: 95%;
    max-width: 98rem;
    background-size: cover;
    margin: auto; }
    @media only screen and (max-width: 56.25em) {
      .header .mockups__image-container .mockups__img {
        width: 80%; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      max-width: 60rem; } }
  .header > :not(:last-child) {
    margin: 1.25rem 0; }
  .header > :nth-child(3n) {
    margin: 3rem 0; }
  .header > :last-child {
    margin: 7rem 0; }
  .header__para {
    max-width: 56rem;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .header__para {
        max-width: 40rem; } }

.stat {
  margin: 1rem 0 4rem;
  align-self: center;
  width: 85rem;
  justify-content: space-between;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 56.25em) {
    .stat {
      margin: 10rem 0 5rem;
      max-width: 40rem;
      justify-content: center; }
      .stat > :not(:last-child) {
        margin-bottom: 10rem; } }
  .stat__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around; }
    .stat__card > :last-child {
      align-self: center; }
  .stat__icon {
    fill: var(--color-primary-dark);
    height: 3.5rem; }

.features {
  display: flex;
  flex-direction: column; }
  .features--nowave {
    margin: 10rem 0 3rem; }
  .features--wave-1::before {
    content: "";
    background-image: url("../images/bg-section-top-desktop-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    height: 165px; }
    @media only screen and (max-width: 23.5em) {
      .features--wave-1::before {
        background-image: url("../images/bg-section-top-mobile-1.svg");
        height: 112px; } }
  .features--wave-1::after {
    content: "";
    background-image: url("../images/bg-section-bottom-desktop-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    height: 139px; }
    @media only screen and (max-width: 23.5em) {
      .features--wave-1::after {
        background-image: url("../images/bg-section-bottom-mobile-1.svg");
        height: 52px; } }
  .features--wave-2::before {
    content: "";
    background-image: url("../images/bg-section-top-desktop-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    height: 156px; }
    @media only screen and (max-width: 23.5em) {
      .features--wave-2::before {
        background-image: url("../images/bg-section-top-mobile-2.svg");
        height: 103px; } }
  .features--wave-2::after {
    content: "";
    background-image: url("../images/bg-section-bottom-desktop-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    height: 139px; }
    @media only screen and (max-width: 23.5em) {
      .features--wave-2::after {
        background-image: url("../images/bg-section-bottom-mobile-2.svg");
        height: 101px; } }

.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 5rem; }
  @media only screen and (max-width: 56.25em) {
    .feature {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5rem; } }
  .feature--bg {
    background-color: var(--color-neutral-light); }
  .feature__content {
    display: flex;
    flex-direction: column;
    padding: 0 7rem;
    flex: 1; }
    @media only screen and (max-width: 56.25em) {
      .feature__content {
        align-items: center;
        justify-content: center;
        padding: 3rem; } }
  .feature__img {
    display: block;
    width: 100%; }
  .feature__para {
    margin-top: 2rem; }
    @media only screen and (max-width: 23.5em) {
      .feature__para {
        max-width: 35rem; } }

.flex-reverse {
  flex-direction: row-reverse; }
  @media only screen and (max-width: 56.25em) {
    .flex-reverse {
      flex-direction: column-reverse; } }

.cta {
  margin: 5rem 0 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .cta > :not(:last-child) {
    margin-bottom: 3.5rem; }
  @media only screen and (max-width: 23.5em) {
    .cta {
      max-width: 60rem; } }

.footer {
  margin-bottom: 0; }
  .footer::before {
    content: "";
    display: block;
    background-image: url("../images/bg-footer-top-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 158px;
    transform: translateY(10px); }
    @media only screen and (max-width: 23.5em) {
      .footer::before {
        background-image: url("../images/bg-footer-top-mobile.svg");
        height: 53px; } }
  .footer__container {
    background-color: var(--color-neutral-dark);
    color: var(--color-neutral-light);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 11rem; }
    .footer__container > :not(:last-child) {
      margin-bottom: 7rem; }
    .footer__container > :nth-child(3n) {
      width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .footer__container {
        flex-direction: column; } }
  .footer__info {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
    .footer__info > :not(:last-child) {
      margin-bottom: 2.5rem; }
    .footer__info__para {
      width: 30rem; }
    .footer__info__directory {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-gap: 2rem; }
  .footer__logo {
    display: block;
    filter: brightness(0) invert(1); }
    @media only screen and (max-width: 75em) {
      .footer__logo {
        width: 50%; } }
  .footer__newsletter {
    flex: 0 0 43%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    @media only screen and (max-width: 37.5em) {
      .footer__newsletter {
        order: -1; } }
    .footer__newsletter > :not(:last-child) {
      margin-bottom: 2rem; }
    .footer__newsletter__para {
      padding-right: 35%; }
      @media only screen and (max-width: 56.25em) {
        .footer__newsletter__para {
          padding: 0; } }
  .footer__form {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .footer__form {
        flex-direction: column; }
        .footer__form > :not(:last-child) {
          margin-bottom: 2rem; } }
    .footer__form > :last-child {
      margin-left: 4rem; }
    .footer__form #user-email {
      flex: 1;
      border: 0;
      outline: 0;
      border-radius: .4rem;
      padding: 1rem;
      color: gray; }
    .footer__form .btn-subscribe {
      align-self: flex-end; }
  .footer__social-icons {
    display: flex; }
    .footer__social-icons > :not(:last-child) {
      margin-right: 2rem; }

.attribution {
  color: var(--color-neutral-light);
  flex: 1;
  text-align: center; }
