:root{
  //css variables
  --color-primary: hsl(322, 100%, 66%); //Pink: hsl(322, 100%, 66%)
  --color-neutral-light: #f6fbff;    // - Very Pale Blue: hsl(207, 100%, 98%)
  --color-neutral-dark: hsl(192, 100%, 9%);  //  Very Dark Cyan: hsl(192, 100%, 9%)
}


// $bp-largest: 75em; //1200px;
// $bp-large: 68.75em; //1100px;
// $bp-medium: 56.25em; //900px;
// $bp-small: 37.5em;  //600px;
// $bp-smallest: 31.75em; //500px;
